@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/* nav bar */
h6 {
    font-family: 'Noto Serif', serif;
}
.nav-links-right {
    float: right;
}

.profile-pic {
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
    max-width: 500px;
    width: auto;
    max-height: 500px;
    border-radius: 5%;
}
.home-container {
    display: flex;
}
.no-underline {
    text-decoration: none;
}
/* scrolling with link */

html {
    scroll-behavior: smooth;
}
#contact {
    height: auto;
}
#home {
    height: auto;
}
#about {
    height: auto;
}

/* Contact Me */
.contact-container {
    /* margin-top: 10rem; */
    margin: 5%;
    padding: 10rem 0;
}

/* about us */
.accordion-container {
    margin: 3%;
}